<div class="account-order__list">
    <table>
        <thead>
            <th>Mã đơn hàng</th>
            <th>Sản phẩm</th>
            <th>Ghi chú</th>
            <th>Tổng tiền</th>
            <th>Trạng thái</th>
        </thead>
        <tbody>
            <%%>
        </tbody>
    </table>
</div>