<div class="account-order__list">
    <table>
        <thead>
            <th>Mã đơn hàng</th>
            <th>Sản phẩm</th>
            <th>Ghi chú</th>
            <th>Tổng tiền</th>
            <th>Trạng thái</th>
        </thead>
        <tbody>
            <tr>
                <td>1001</td>
                <td>10/01/2021</td>
                <td>Ao thun ca sau chat luong cao</td>
                <td>1001000</td>
            </tr>
            <tr>
                <td>1001</td>
                <td>10/01/2021</td>
                <td>Ao thun ca sau chat luong cao</td>
                <td>1001000</td>
            </tr>
            <tr>
                <td>1001</td>
                <td>10/01/2021</td>
                <td>Ao thun ca sau chat luong cao</td>
                <td>1001000</td>
            </tr>
            <tr>
                <td>1001</td>
                <td>10/01/2021</td>
                <td>Ao thun ca sau chat luong cao</td>
                <td>1001000</td>
            </tr>
            <tr>
                <td>1001</td>
                <td>10/01/2021</td>
                <td>Ao thun ca sau chat luong cao</td>
                <td>1001000</td>
            </tr>
            <tr>
                <td>1001</td>
                <td>10/01/2021</td>
                <td>Ao thun ca sau chat luong cao</td>
                <td>1001000</td>
            </tr>
            <tr>
                <td>1001</td>
                <td>10/01/2021</td>
                <td>Ao thun ca sau chat luong cao</td>
                <td>1001000</td>
            </tr>
            <tr>
                <td>1001</td>
                <td>10/01/2021</td>
                <td>Ao thun ca sau chat luong cao</td>
                <td>1001000</td>
            </tr>
            <tr>
                <td>1001</td>
                <td>10/01/2021</td>
                <td>Ao thun ca sau chat luong cao</td>
                <td>1001000</td>
            </tr>
            <tr>
                <td>1001</td>
                <td>10/01/2021</td>
                <td>Ao thun ca sau chat luong cao</td>
                <td>1001000</td>
            </tr>
            <tr>
                <td>1001</td>
                <td>10/01/2021</td>
                <td>Ao thun ca sau chat luong cao</td>
                <td>1001000</td>
            </tr>
            <tr>
                <td>1001</td>
                <td>10/01/2021</td>
                <td>Ao thun ca sau chat luong cao</td>
                <td>1001000</td>
            </tr>
            <tr>
                <td>1001</td>
                <td>10/01/2021</td>
                <td>Ao thun ca sau chat luong cao</td>
                <td>1001000</td>
            </tr>
            <tr>
                <td>1001</td>
                <td>10/01/2021</td>
                <td>Ao thun ca sau chat luong cao</td>
                <td>1001000</td>
            </tr>
        </tbody>
    </table>
</div>