<div class="account-wrapper">
    <div class="grid-rows">
        <div class="grid-col-4" height="100">
            <div class="account-avatar">
                <img src="/public/images/noavatar.png" alt="">
                <div class="account-avatar__info">
                    <span>Tài khoản của</span>
                    <strong>Phạm Văn Huy</strong>
                </div>
            </div>
            <ul class="account-action">
                <li class="active">
                    <i class='bx bxs-user'></i>
                    <span>Thông tin tài khoản</span>
                </li>
                <li>
                    <i class='bx bxs-book-content'></i>
                    <span>Quản lý đơn hàng</span>
                </li>
            </ul>
        </div>
        <div class="grid-col-3_4">
            <h3>Thông tin tài khoản</h3>
            <div class="account-info" style="background-color: #EBEBF0;">
                <form action="">
                    <div class="form-control">
                        <label for="">Họ tên</label>
                        <div>
                            <input type="text" name="fullName" maxlength="128" id="" value="Phạm Văn Huy">
                        </div>
                    </div>
                    <div class="form-control">
                        <label for="">Số điện thoại</label>
                        <div>
                            <input type="tel" name="phoneNumber" placeholder="Hãy nhập SĐT để trải nghiệm tốt hơn" value="0362977647">
                        </div>
                    </div>
                    <div class="form-control">
                        <label for="">Email</label>
                        <div>
                            <input type="text" name="email" value="ronando432@gmail.com">
                        </div>
                    </div>
                    <div class="form-control">
                        <label for="">Giới tính</label>
                        <div>
                            <label>
                                <input type="radio" name="gender" value="male">
                                <span class="radio-fake"></span>
                                <span class="label">Nam</span>
                            </label>
                            <label>
                                <input type="radio" name="gender" value="female">
                                <span class="radio-fake"></span>
                                <span class="label">Nữ</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-control">
                        <label class="input-label">
                            Ngày sinh
                            <span>(không bắt buộc)</span>
                        </label>
                        <div>
                            <select name="day">
                            </select>
                            <select name="month">
                            </select>
                            <select name="year">
                            </select>
                        </div>
                    </div>
                    <div class="form-control">
                        <label class="input-label">&nbsp;</label>
                        <label style="display: flex; flex: 1;">
                            <input type="checkbox">
                            <span class="checkbox-fake"></span>
                            <span class="label">Thay đổi mật khẩu</span>
                        </label>
                    </div>
                    <div class="form-control ">
                        <label class="input-label">Mật khẩu cũ</label>
                        <div>
                            <input type="password" required="" name="oldPassword" placeholder="Nhập mật khẩu cũ" value="">
                        </div>
                    </div>
                    <div class="form-control ">
                        <label class="input-label">Mật khẩu mới</label>
                        <div>
                            <input type="password" required="" name="oldPassword" placeholder="Mật khẩu từ 6 đến 32 ký tự" value="">
                        </div>
                    </div>
                    <div class="form-control ">
                        <label class="input-label">Nhập lại</label>
                        <div>
                            <input type="password" required="" name="oldPassword" placeholder="Nhập lại mật khẩu mới" value="">
                        </div>
                    </div>
                    <div class="form-control">
                        <label class="input-label">&nbsp;</label>
                        <button type="submit" class="btn-submit">Cập nhật</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>