    <footer id="footer">
        <div class="container">
            <div class="grid-rows">
                <div class="grid-col-4">
                    <div class="footer-item">
                        <div class="footer-title">Tổng đài hỗ trợ</div>
                        <div class="footer-content">
                            <p>Liên hệ đặt hàng <strong>0362977647</strong></p>
                            <p>Thắc mắc đơn hàng <strong>0362977647</strong></p>
                            <p>Góp ý, khiếu nại <strong>0362977647</strong></p>
                        </div>
                    </div>
                </div>
                <div class="grid-col-4">
                    <div class="footer-item">
                        <div class="footer-title">Về Yolo</div>
                        <div class="footer-content">
                            <p><a href="#">Giới thiệu</a></p>
                            <p><a href="">Liên hệ</a></p>
                            <p><a href="">Tuyển dụng</a></p>
                            <p><a href="">Tin tức</a></p>
                            <p><a href="">Hệ thống cửa hàng</a></p>
                        </div>
                    </div>
                </div>
                <div class="grid-col-4">
                    <div class="footer-item">
                        <div class="footer-title">Chăm sóc khách hàng</div>
                        <div class="footer-content">
                            <p><a href="">Chính sách đổi trả</a></p>
                            <p><a href="">Chính sách bảo hành</a></p>
                            <p><a href="">Chính sách hoàn tiền</a></p>
                        </div>
                    </div>
                </div>
                <div class="grid-col-4">
                    <div class="footer-item">
                        <div class="footer-title">
                            <a href="">
                                <img src="../../public/images/yolo-logo.png" alt="" loading="lazy">
                            </a>
                        </div>
                        <div class="footer-content">
                            <p>Hướng đến mục tiêu mang lại niềm vui ăn mặc mới mỗi ngày cho hàng triệu người tiêu dùng Việt. Hãy cùng Yolo hướng đến một cuộc sống năng động, tích cực hơn.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="button-go-top">
        <a href="#" class="go-top show">
            <i class='bx bxs-arrow-from-bottom'></i>
        </a>
    </div>
