<div id="header">
	<div class="container">
		<div class="header-logo">
			<a href="/">
				<img src="../../public/images/yolo-logo.png" alt="" />
			</a>
		</div>
		<div class="header-menu">
			<div class="header-menu__mobile-toggle" onClick="menuToggle()">
				<i class="bx bx-menu-alt-left"></i>
			</div>
			<div class="header-menu__left">
				<div class="header-menu__left-close" onClick="menuToggle()">
					<i class="bx bx-chevron-left"></i>
				</div>
				<div class="header-menu__item left active">
					<a href="/">
						<span>Trang chủ</span>
					</a>
				</div>
				<div class="header-menu__item left">
					<a href="/products" data-link>
						<span>Sản phẩm</span>
					</a>
				</div>
				<div class="header-menu__item left">
					<a href="/accessory" data-link>
						<span>Phụ kiện</span>
					</a>
				</div>
				<div class="header-menu__item left">
					<a href="/contacts" data-link>
						<span>Liên hệ</span>
					</a>
				</div>
			</div>
			<div class="header-menu__right">
				<div class="header-menu__item">
					<i class="bx bx-search"></i>
				</div>
				<div class="header-menu__item cart__icon">
					<a href="/carts">
						<i class="bx bx-shopping-bag"></i>
					</a>
				</div>
				<div class="header-menu__item header-menu__item-user">
					<a href="/users/login">
						<i class="bx bx-user"> </i>
					</a>
					<div class="user-action">
						<ul>
							<li>
								<a href="/user/account">
									<i class="bx bx-user-circle"></i>
									<span>Tài khoản của tôi</span>
								</a>
							</li>
							<li>
								<a href="/user/account?orders">
									<i class="bx bx-bookmark-alt"></i>
									<span>Đơn mua</span>
								</a>
							</li>
							<li onclick="logout()">
								<a href="">
									<i class="bx bx-log-out-circle"></i>
									<span>Đăng xuất</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
