<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Yolo - Trang chủ</title>
<link rel="stylesheet" href="../../public/css/reset.css" />
<link rel="stylesheet" href="../../public/css/header.css" />
<link rel="stylesheet" href="../../public/css/slider.css" />
<link rel="stylesheet" href="../../public/css/featured-card.css" />
<link rel="stylesheet" href="../../public/css/footer.css" />
<link rel="stylesheet" href="../../public/css/homeBase.css" />
<link rel="stylesheet" href="../../public/css/product-card.css" />
<link rel="stylesheet" href="../../public/css/admin.css" />

<link
	href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
	rel="stylesheet"
/>
