<div class="section">
    <div class="section-title">Top sản phẩm bán chạy trong tuần</div>
    <div class="section-body">
        <div class="grid-rows">
            <% hotIndexes.forEach(hotIndex => { %>
            <div class="grid-col-4">
                <%- include ('./product-card', {
                    name: products[hotIndex].name,
                    price: products[hotIndex].cost.toLocaleString(),
                    id: products[hotIndex]._id,
                    imgFront: products[hotIndex].images[0],
                    imgBack: products[hotIndex].images[1]
                }) -%>
            </div>
            <% }) %>
        </div>
    </div>
</div>