<div class="section">
    <div class="section-title">Sản phẩm mới</div>
    <div class="section-body">
        <% for (var i = 1; i <= newIndexes.length - 3; i++) { %>
            <% if (i % 4 == 1){ %>
                <div class="grid-rows">
                    <% for (var j = i - 1; j < (i + 3); j++) { %>
                        <div class="grid-col-4">
                            <%- include ('./product-card', {
                                id: products[newIndexes[j]]._id,
                                name: products[newIndexes[j]].name,
                                price: products[newIndexes[j]].cost.toLocaleString(),
                                imgFront: products[newIndexes[j]].images[0],
                                imgBack: products[newIndexes[j]].images[1]
                            }) -%>
                        </div>
                    <% } %>
                </div>
            <% } %>
        <% } %>
    </div>
</div>
