<div class="product-images">
    <div class="product-images__list">
        <% for (let i = 0; i < product.images.length; i ++){ %>
            <div class="product-images-list__item">
                <img src="<%= product.images[i] %>" alt="" loading="lazy" >
            </div>
        <% } %> 
    </div>
    <div class="product-images__main">
    <figure class = "zoom" onmousemove = "zoom (event)" style = "background-image: url('<%= product.images[0] %>')">
        <img src="<%= product.images[0] %>" alt="" loading="lazy" >
    </figure>
    </div>
    <div class="product-description">
        <div class="product-description__title">
            Chi tiết sản phẩm
        </div>
        <div class="product-description__content">
            <%= product.description %>
        </div>
        <div class="product-description__toggle">
            <button class="btn btn-primary btn-small">
                <span class="btn-txt">Xem thêm</span>
            </button>
            <button class="btn btn-primary btn-small">
                <span class="btn-txt">Thu gọn</span>
            </button>
        </div>
    </div>
</div>