<div class="product">
    <div class="filter-overlay"></div>
    <div class="product-filter">
        <%- include('./product_filter'); -%>
    </div>
    <div class="product-filter__toggle">
        <button class="btn bg-primary btn-small ">
            <span class="btn-txt">bộ lọc</span>
            <span class="btn-icon">
                <i class='bx bx-filter-alt'></i>
            </span>
        </button>
    </div>
    <div class="product-content">
        <div class="render-products"></div>
        <div class="pagination"></div>
    </div>
</div>