#footer {
    padding: 70px 0;
    box-shadow: 0 8px 24px rgb(149 157 165 / 20%);
    font-size: 1.4rem;
}

#footer a:hover {
    color: #4267b2;
}

.footer-title {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 26px;
}

.footer-title img {
    height: 38px;
}

.footer-content p {
    margin-bottom: 16px;
}

.go-top.show {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
}

.go-top {
    position: fixed!important;
    bottom: 20px;
    right: 20px;
    background-color: #1490d7;
    border-radius: 50%;
    line-height: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    display: block;
    font-size: 16px;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transform: translateX(50%);
    color: #fff;
}

@media only screen and (max-width: 37.5em) {
    #footer {
        font-size: 0.7rem;
        padding: 0 30px;
    }

    .footer-content p {
        margin-bottom: 13px;
        line-height: 1.6
    }

    .footer-title {
        margin-bottom: 22px;
        line-height: 1;
    }
}