<h2>Dashboard</h2>
<div class="admin-statistical">
	<div class="box">
		<p>20<br /><span>Products</span></p>
		<i class="fas fa-list"></i>
	</div>
	<div class="box">
		<p>10<br /><span>Customers</span></p>
		<i class="fas fa-user-friends"></i>
	</div>
	<div class="box">
		<p>30<br /><span>Orders</span></p>
		<i class="fas fa-shopping-bag"></i>
	</div>
	<div class="box">
		<p>40<br /><span>Sales</span></p>
		<i class="fas fa-shopping-cart"></i>
	</div>
</div>
