<form enctype="multipart/form-data">
	<h2 class="title-header">Thông tin đơn hàng</h2>

	<div class="orderer">
		<h4>Nguời đặt</h4>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>ID</th>
					<th>Cover</th>
					<th>Tên</th>
					<th>SĐT</th>
					<th>Email</th>
					<th>Role</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<a href="">617675a5c65c4c0d3c88231e</a>
					</td>
					<td class="orderer-cover">
						<img
							src="https://images.unsplash.com/photo-1633113090286-3318ea2d24ae?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80"
							alt=""
						/>
					</td>
					<td>CườngNv</td>
					<td>123456789</td>
					<td>nguyencuongnv123@gmail.com</td>
					<td>user</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="info-order">
		<h4 class="mt-4">Đơn hàng</h4>
		<div class="basic-info">
			<div>
				Ngày đặt:
				<span>12/10/2021</span>
			</div>
			<div>
				Hình thức:
				<span>Ship cod</span>
			</div>
			<div class="status">
				Trạng thái:
				<span>Đã giao</span>
			</div>
		</div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>STT</th>
					<th>ID</th>
					<th>Cover</th>
					<th>Sản phẩm</th>
					<th>Loại</th>
					<th>Màu</th>
					<th>Size</th>
					<th>Số lượng</th>
					<th>Tạm tính</th>
				</tr>
			</thead>
			<tbody>
				<tr></tr>
				<tr>
					<td class="stt-product">1</td>
					<td class="id-product">
						<a href="/admin/products/6171150791ad297ed00563b7	"
							>6171150791ad297ed00563b7</a
						>
					</td>
					<td class="cover-product">
						<img src="https://i.ibb.co/VvYGQVv/da37d101fd0b.jpg" alt="" />
					</td>
					<td class="name-product">Áo thun Dinosaur 01</td>
					<td>Áo thun</td>
					<td>red</td>
					<td>M</td>
					<td class="last-product">10</td>
					<td>100.000</td>
				</tr>
				<tr>
					<td class="stt-product">1</td>
					<td class="id-product">
						<a href="/admin/products/6171150791ad297ed00563b7	"
							>6171150791ad297ed00563b7</a
						>
					</td>
					<td class="cover-product">
						<img src="https://i.ibb.co/VvYGQVv/da37d101fd0b.jpg" alt="" />
					</td>
					<td class="name-product">Áo thun Dinosaur 01</td>
					<td>Áo thun</td>
					<td>red</td>
					<td>M</td>
					<td class="last-product">10</td>
					<td>100.000</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th colspan="7"></th>
					<th>Phí ship</th>
					<th>10000</th>
				</tr>
				<tr>
					<th colspan="7"></th>
					<th>Tổng tiền</th>
					<th>10000</th>
				</tr>
			</tfoot>
		</table>
	</div>
	<div class="receiver">
		<h4>Người nhận</h4>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Tên</th>
					<th>Số điện thoại</th>
					<th>Địa chỉ</th>
					<th>Tin nhắn</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Nguyễn Văn Cường</td>
					<td>012345688</td>
					<td>214 Nguyễn Xiển, Hà Nội, Việt Nam</td>
					<td>Giao trong giờ hành chính</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="order-action">
		<button class="delivery-order">Giao hàng</button>
		<button class="bill-order">Hóa đơn</button>
		<button class="cancel-order">Hủy đơn hàng</button>
	</div>
</form>
