<div class="admin-nav">
    <h1>K14-Shop</h1>
    <a href="#" class="nav-active" name-nav="dashboard"
        ><i class="fas fa-columns"></i>
        <span>Dashboard</span>
    </a>
    <a href="#" name-nav="products"
        ><i class="fas fa-list"></i>
        <span>Products</span>
    </a>
    <a href="#" name-nav="customers"
        ><i class="fas fa-user-friends"></i>
        <span>Customers</span>
    </a>
    <a href="#" name-nav="orders"
        ><i class="fas fa-shopping-bag"></i>
        <span>Orders</span>
    </a>
    <a href="#" name-nav="sales"
        ><i class="fas fa-shopping-cart"></i>
        <span>Sales</span>
    </a>
    <a href="#" name-nav="account"
        ><i class="fas fa-user"></i>
        <span>Account</span>
    </a>
    <a href="#" name-nav="setting"
        ><i class="fas fa-cog"></i>
        <span>Setting</span>
    </a>
</div>