<h2>Products</h2>
<div class="admin-products">
	<div class="products-action">
		<div class="action-search">
			<input type="text" placeholder="Tìm sản phẩm" />
		</div>
		<div class="action-filter">
			<i class="fas fa-filter"></i>
			Add filter
		</div>
		<div class="action-add">
			<i class="fas fa-plus-square"></i>
			Thêm sản phẩm
		</div>
	</div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>STT</th>
				<th>ID</th>
				<th>Cover</th>
				<th>Sản phẩm</th>
				<th>Giá</th>
				<th>Đã bán</th>
				<th>Còn lại</th>
				<th>Active</th>
				<th>Hành động</th>
			</tr>
		</thead>
		<tbody>
			<% for(var i=0; i < 10; i++) { %>
			<tr>
				<td class="stt-product">1</td>
				<td class="id-product">
					<a href="#">123456778</a>
				</td>
				<td class="cover-product">
					<img
						src="https://nghialagi.org/wp-content/uploads/2020/03/background-la-gi.jpg"
						alt=""
					/>
				</td>
				<td class="name-product">Áo mưa 001 loại có mũ</td>
				<td class="cost-product">30K</td>
				<td class="sold-product">10</td>
				<td class="last-product">30</td>
				<td>
					<div class="form-check form-switch">
						<input
							class="form-check-input"
							type="checkbox"
							id="flexSwitchCheckDefault"
							checked
						/>
					</div>
				</td>
				<td class="action-product">
					<button>
						<i class="far fa-eye"></i>
					</button>
					<button>
						<i class="fas fa-edit"></i>
					</button>
					<button>
						<i class="far fa-trash-alt"></i>
					</button>
				</td>
			</tr>
			<% } %>
		</tbody>
	</table>
</div>

<script>
    const addBtn = document.querySelector('.action-add')
    addBtn.addEventListener('click', (e) => {
        navCurrentItem = 'add-product'
        showAdminContent()
    })
</script>