<h2>Products</h2>
<div class="admin-products">
	<div class="products-action">
		<div class="action-search">
			<input type="text" placeholder="Tìm sản phẩm" />
		</div>
		<div class="action-filter">
			<i class="fas fa-filter"></i>
			Add filter
		</div>
		<div class="action-add">
			<i class="fas fa-plus-square"></i>
			Thêm sản phẩm
		</div>
		<div class="total-products">
			<i class="fas fa-box"></i>
			Tổng sản phẩm:&nbsp;
			<span>0</span>
		</div>
	</div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>STT</th>
				<th>ID</th>
				<th>Cover</th>
				<th>Sản phẩm</th>
				<th>Giá</th>
				<th>Đã bán</th>
				<th>Còn lại</th>
				<th>Active</th>
				<th>Hành động</th>
			</tr>
		</thead>
	</table>
	<div class="pagination">
	</div>
</div>

<style>
	.form-check.form-switch input {
		width: 45px;
		cursor: pointer;
	}
</style>