<h2>Quản lí đơn hàng</h2>
<div class="admin-orders">
	<div class="orders-action">
		<div class="action-search">
			<input type="text" placeholder="Tìm đơn hàng" />
		</div>
		<div class="action-filter">
			<!-- <i class="fas fa-filter"></i>
			Add filter
            <ul>
                <li>
                    <span>Đang chờ</span>
                </li>
                <li>
                    <span>Đã giao</span>
                </li>
            </ul> -->
			<select name="" id="" class="select-filter">
				
			</select>
		</div>
		<div class="total-orders">
			<i class="fas fa-box"></i>
			Tổng đơn hàng:&nbsp;
			<span>0</span>
		</div>
	</div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>STT</th>
				<th>Người nhận</th>
				<th>Số điện thoại</th>
				<th>Sản phẩm</th>
                <th>Ngày đặt</th>
				<th>Tổng tiền</th>
				<th>Phương thức</th>
				<th>Trạng thái</th>
				<th>Hành động</th>
			</tr>
		</thead>
	</table>
	<div class="pagination">
	</div>
</div>

<style>
	.form-check.form-switch input {
		width: 45px;
		cursor: pointer;
	}
</style>

<script>
</script>