<form enctype="multipart/form-data">
	<h2 class="title-header">Thêm sản phẩm</h2>

	<label for="product-name">Tên sản phẩm</label>
	<input
		type="text"
		placeholder="Tên sản phẩm"
		name="name"
		id="product-name"
		required
	/>

	<div class="row mb-1 d-flex align-items-center">
		<div class="col-4">
			<label for="product-cost">Giá sản phẩm</label>
			<input
				type="number"
				placeholder="Giá sản phẩm"
				name="cost"
				id="product-cost"
				required
			/>
		</div>
		<div class="col-4">
			<select name="type" required id="product-type">
				<option value="" selected>Chọn loại trang phục</option>
				<option value="ao-so-mi">Áo sơ mi</option>
				<option value="ao-thun">Áo thun</option>
				<option value="quan-jean">Quần jean</option>
				<option value="other">Khác</option>
			</select>
		</div>
	</div>

	<div class="row">
		<div class="col-4">
			<label for="product-color" class="mb-1">Chọn màu sắc</label>
			<div class="wrap-color d-flex align-items-center">
				<div class="preview-color"></div>
				<input
					type="text"
					name="color"
					id="product-color"
					placeholder="Màu sản phẩm"
					required
				/>
			</div>
		</div>
		<div class="col-4 ps-5">
			<label for="product-size" class="mb-1">Chọn size</label>
			<div id="product-size" class="wrap-size d-flex align-items-center">
				<div class="size-S">S</div>
				<div class="size-M">M</div>
				<div class="size-L">L</div>
				<div class="size-XL">XL</div>
				<div class="size-XXL">XXL</div>
			</div>
		</div>
		<div class="col-4">
			<label for="product-total">Số lượng</label>
			<input
				type="number"
				name="total"
				id="product-total"
				placeholder="Số lượng"
				required
			/>
		</div>
	</div>

	<label for="product-description">Miêu tả sản phẩm</label>
	<textarea
		class="form-control"
		placeholder="Miêu tả sản phẩm"
		name="description"
		id="product-description"
		required
	></textarea>

	<div class="input-images mt-5">
		<label for="product-images">
			Thêm ảnh cho sản phẩm
		</label>
		<input
			hidden
			type="file"
			multiple
			accept=".jpg, .jpeg, .png"
			id="product-images"
			name="images"
		/>
		<div class="preview-images d-flex flex-wrap"></div>
	</div>

	<button type="submit" class="add-product-button">Thêm</button>
</form>
