<h2>Dashboard</h2>
<div class="admin-statistical">
	<div class="box" name-nav="products">
		<p>
			<span class="text">
				<%= data.productsCount %>
			</span>
			<br /><span>Products</span>
		</p>
		<i class="fas fa-list"></i>
	</div>
	<div class="box" name-nav="customers">
		<p>
			<span class="text">
				<%= data.usersCount %>
			</span>
			<br /><span>Customers</span>
		</p>
		<i class="fas fa-user-friends"></i>
	</div>
	<div class="box" name-nav="orders">
		<p>
			<span class="text">
				<%= data.ordersCount %>
			</span>
			<br /><span>Orders</span>
		</p>
		<i class="fas fa-shopping-bag"></i>
	</div>
	<div class="box" name-nav="news">
		<p>
			<span class="text">
				<%= data.newsCount %>
			</span>
			<br /><span>News</span>
		</p>
		<i class="fas fa-newspaper"></i>
	</div>
</div>
