<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/bill.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <title>Yolo-Invoices</title>
</head>

<body>
    <div class="bill-container">
        <div class="bill-head">
            <div class="bill-header__left">YoloShop</div>
            <div class="bill-header__right">
                <a href="/products">
                    <span>Shop</span>
                    <span>
                        <i class='bx bx-spreadsheet'></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="bill-body">
            <div class="bill-body__status">
                <div class="bill-body-status__logo">
                    <i class='bx bx-check-square'></i>
                </div>
                <h2>Thank You For Your Order!</h2>
                <p>Thank you for ordering at <a href="/"><span>YoloShop</span></a>. Please check your order information.
                    Any questions please contact 199931112 for support. Thanks!</p>
            </div>
            <div class="bill-body__info">
                <table>
                    <thead>
                        <th>Order Confirmation #</th>
                        <th>153733</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Áo Thun Nữ Sọc Cổ Tím GUMAC(1)</td>
                            <td>80000 VNĐ</td>
                        </tr>
                        <tr>
                            <td>Áo Thun Nữ Sọc Cổ Tím GUMAC(1)</td>
                            <td>80000 VNĐ</td>
                        </tr>
                        <tr>
                            <td>Áo Thun Nữ Sọc Cổ Tím GUMAC(1)</td>
                            <td>80000 VNĐ</td>
                        </tr>
                        <tr class="price-total">
                            <td><strong>Total</strong></td>
                            <td><strong>110.000 VNĐ</strong></td>
                        </tr>
                        <tr>
                            <td><strong>Delivery Address</strong></td>
                            <td><strong>Estimated Delivery Date</strong></td>
                        </tr>
                        <tr>
                            <td>320/11 Xa lộ Hà Nội, Phường Nguyễn Thị Phương, Quận 12, Tp.HCM</td>
                            <td>14 days from order</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="bill-banner">
            <h4>Back to your information</h4>
            <a href="">Shop Again</a>
        </div>
        <div class="bill-footer">
            <div class="bill-footer__address">
                <strong>778/81 Nguyen Kiem, P.4, Q. Phu Nhuan, Ho Chi Minh city</strong>
            </div>
            <div class="bill-footer__message">
                If you didn't create an account using this email address, please ignore this email or unsubscribe
            </div>
        </div>
    </div>
</body>

</html>