<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yolo - Trang chủ</title>
    <link rel="stylesheet" href="../../public/css/header.css">
    <link rel="stylesheet" href="../../public/css/slider.css">
    <link rel="stylesheet" href="../../public/css/featured-card.css">
    <link rel="stylesheet" href="../../public/css/footer.css">
    <link rel="stylesheet" href="../../public/css/homeBase.css">
    <link rel="stylesheet" href="../../public/css/product-card.css">
    <link rel="stylesheet" href="../../public/css/cart.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
</head>

<style>
    :root {
    --blue-color: #4267b2;
    --pink-color: #fe7e73;
    --orange-color: #fbb96b;
    }
</style>

<body>
    <div class="main">
        <div>
            <%- include ('../components/header'); -%>
        </div>

        <form method="POST" action="/checkout" >
            <div id="cart">
                <div class="cart-info">
                    <div class="cart-info-txt">
                        <p>
                            Bạn đang có 3 sản phẩm trong giỏ hàng
                        </p>
                        <div class="cart-info-price">
                            <span>Thành tiền:</span> <span>200000</span>
                        </div>
                    </div>
                    <div class="cart-info-btn">
                        <button class="btn-order" type="submit">
                            <span class="btn-txt-cart">Đặt hàng</span>
                        </button>
                        <button class="btn-cart">
                            <span class="btn-txt-cart">Tiếp tục mua hàng</span>
                        </button>
                    </div>
                </div>
                
                <!-- <div class="cart-list">
                    <div class="cart-item">
                        <div class="cart-item-image">
                            <img src="" alt="">
                        </div>
                        <div class="cart-item-info">
                            <div class="cart-item-info-name">
                                Quần Jean 11 - Blue - M
                            </div>
                            <div class="cart-item-info-price">
                                194,000
                            </div>
                            <div class="cart-item-info-quantity">
                                <div class="product-info-item-quantity">
                                    <div class="product-info-item-quantity"></div>
                                    <div class="product-info-item-quantity-input"></div>
                                    <div class="product-info-item-quantity"></div>
                                </div>
                            </div>
                            <div class="cart-item-del">
                                
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </form>
    
        <div>
            <%- include ('../components/footer'); -%> 
        </div>
    </div>
</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../../public/js/header.js"></script>
    <script src="../../public/js/slider.js"></script>
    <script src="../../public/js/cart.js"></script>
</html>
