<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Yolo - Trang chủ</title>
	<link rel="stylesheet" href="../../public/css/header.css" />
	<link rel="stylesheet" href="../../public/css/footer.css" />
	<link rel="stylesheet" href="../../public/css/homeBase.css" />
	<link rel="stylesheet" href="../../public/css/news.css" />

	<link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet" />
</head>
<style>
	:root {
		--blue-color: #4267b2;
		--pink-color: #fe7e73;
		--orange-color: #fbb96b;
	}
</style>

<body>
	<%- include ('../components/header'); -%>

		<div class="container">
			<div class="main">
				<div>
					<div class="section">
						<div class="section-title">News</div>
						<div class="section-body">
							<div class="grid-rows">
								<div class="grid-col-half">
									<div class="news-card">
										<a href="">
											<div class="news-banner">
												<img src="https://cdn.shopify.com/s/files/1/2090/4191/articles/Fall16_18_1400x_17056119-4223-4b7a-904d-78c567516a18_900x.jpg" alt="">
											</div>
										</a>
										<div class="news-description">
											<h4 class="news-title">
												Into the woods
											</h4>
											<p class="news-description__content">
												A café racer is a lightweight, lightly powered motorcycle optimized for speed and handling rather than comfort – and...
											</p>
											<div class="news-description_time">
												JUN 12, 2017
											</div>
										</div>
									</div>
								</div>
								<div class="grid-col-half">
									<div class="news-card">
										<a href="">
											<div class="news-banner">
												<img src="https://cdn.shopify.com/s/files/1/2090/4191/articles/DesertTempest_13_1400x_76e3bbc3-f4a1-4e1d-a5c7-82e88b063343_900x500_crop_center.jpg" alt="">
											</div>
										</a>
										<div class="news-description">
											<h4 class="news-title">
												Into the woods
											</h4>
											<p class="news-description__content">
												A café racer is a lightweight, lightly powered motorcycle optimized for speed and handling rather than comfort – and...
											</p>
											<div class="news-description_time">
												JUN 12, 2017
											</div>
										</div>
									</div>
								</div>
								<div class="grid-col-half">
									<div class="news-card">
										<a href="">
											<div class="news-banner">
												<img src="https://cdn.shopify.com/s/files/1/2090/4191/articles/Fall16_18_1400x_17056119-4223-4b7a-904d-78c567516a18_900x.jpg" alt="">
											</div>
										</a>
										<div class="news-description">
											<h4 class="news-title">
												Into the woods
											</h4>
											<p class="news-description__content">
												A café racer is a lightweight, lightly powered motorcycle optimized for speed and handling rather than comfort – and...
											</p>
											<div class="news-description_time">
												JUN 12, 2017
											</div>
										</div>
									</div>
								</div>
								<div class="grid-col-half">
									<div class="news-card">
										<a href="">
											<div class="news-banner">
												<img src="https://cdn.shopify.com/s/files/1/2090/4191/articles/Fall16_18_1400x_17056119-4223-4b7a-904d-78c567516a18_900x.jpg" alt="">
											</div>
										</a>
										<div class="news-description">
											<h4 class="news-title">
												Into the woods
											</h4>
											<p class="news-description__content">
												A café racer is a lightweight, lightly powered motorcycle optimized for speed and handling rather than comfort – and...
											</p>
											<div class="news-description_time">
												JUN 12, 2017
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="section">
						<div class="section-title">Featured Collection</div>
						<div class="section-body">
							<div class="grid-rows">
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%- include ('../components/footer'); -%>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
			<script src="../../public/js/header.js"></script>
			<script src="/public/js/logout.js"></script>
</body>

</html>