<div class="product">
    <div class="image-detail-product">
        <div class="images-left">
            <div >
                <img class="image-item" onclick="changeImage(this)" src="../../../public/images/productImg/1632927361236-product-01 (1).jpg" alt="" />
            </div>
            <div >
                <img class="image-item" onclick="changeImage(this)" src="../../../public/images/productImg/1632927361241-product-01 (2).jpg" alt="" />
            </div>     
        </div>
        <div class="images-right">
            <img id="image-show" src="../../../public/images/productImg/1632927361236-product-01 (1).jpg" alt="" />
        </div>
        <div class="description">
            <div class="title">Chi tiết sản phẩm</div>
            <div class="product-content">
                Sự hiện diện của những chiếc áo thun basic cổ tròn trong tủ đồ của bạn
                chính là chìa khóa giúp cho bạn có thêm nhiều outfit thú vị mà lại không
                cần đến quá nhiều món đồ. Áo thun nữ cotton cổ tròn basic chính là vũ
                khí tiện dụng cho các chị em trong trang phục hàng ngày!
            </div>
        </div>
    </div>
    <div class="add-to-card-product">
        <div class="product-info-title">Áo thun dinosaur 01</div>
        <div class="product-info-item">
            <span class="item-price">129,000</span>
        </div>
        <div class="product-info-item">
            <div class="product-item-title">Màu sắc</div>
            <div class="item-list">
                <label>
                    <input type="radio" class="option-input radio" name="color" value="white" />
                    white
                </label>
                <label>
                    <input type="radio" class="option-input radio" name="color" value="red" />
                    red
                </label>
                <label>
                    <input type="radio" class="option-input radio" name="color" value="blue" />
                    blue
                </label>
                <label>
                    <input type="radio" class="option-input radio" name="color" value="black" />
                    black
                </label>
            </div>
        </div>
        <div class="product-info-item">
            <div class="product-item-title">Kích cỡ</div>
            <div class="item-list">
                <label>
                    <input type="radio" class="option-input radio" name="size" value="s" />
                    S
                </label>
                <label>
                    <input type="radio" class="option-input radio" name="size" value="m" />
                    M
                </label>
                <label>
                    <input type="radio" class="option-input radio" name="size" value="l" />
                   L
                </label>
                <label>
                    <input type="radio" class="option-input radio" name="size" value="xl" />
                    XL
                </label>
            </div>
        </div>
        <div class="product-info-item">
            <div class="product-item-title">Số lượng</div>
            <div class="quantity">
                <input type="number" min="1" max="9" step="1" value="1">
              </div>
        </div>
        <div class="product__info__item">
            <button class="btn bg-main  ">
                <span class="btn__txt">thêm vào giỏ</span>
            </button>
            <button class="btn bg-main">
                <span class="btn__txt">mua ngay</span>
            </button>
        </div>
    </div>
</div>